


.title{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-title {
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-color: rgb(218, 215, 215);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  width: 94%;
  align-items: center;
  justify-content: space-between;
}

.left-page-title {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.profile-picture-title {
  height: 27px;
  border-radius: 100%;
  margin-right: 8px;
}

.repository{
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 550;
  margin-right: 10px;
  font-family: arial;
}

.repository:hover{
  cursor: pointer;
  text-decoration: underline;
}

.repository-status{
  font-size: 12.5px;
  font-weight: 600;
  font-family: arial;
  height: 15px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 40px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  border-radius: 19px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  color: gray;
  margin-bottom: 4px;
}

.right-page-title{
  background-color: transparent;
  display: flex;
}

.title-buttons{
  display: flex;
}

.pin-button, .unwatch-button {
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(182, 180, 180);
  background-color: rgb(248, 245, 245);
  display: flex;
  align-items: center;
  font-family: arial;
}

.pin-icon, .views-icon{
  height: 20px;
  margin-right: 4px;
}


.fork-repository-button, .star-repository-button{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(182, 180, 180);
  background-color: rgb(248, 245, 245);
  padding-left: 12px;
  padding-right: 12px;
  font-family: arial;
  display: flex;
  align-items: center;
}


.fork-icon{
  height: 20px;
  margin-right: 6px;
}

.fork-repo-menu{
  margin-left: -2px;
  padding-top: 11px;
  border-style: solid;
  border-color: rgb(182, 180, 180);
  background-color: rgb(248, 245, 245);
  padding-bottom: 8px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-width: 1px;
  margin-right: 10px;
}

.menu-sortdown-icon{
  height: 9px;
}

.star-repository-button:hover, 
.pin-button:hover, 
.unwatch-button:hover,
.fork-repository-button:hover{
  cursor: pointer;
  background-color: rgb(231, 229, 229);
}

.star-icon{
  height: 18px;
  margin-right: 8px;
}

.star-repository-menu{
  margin-left: -2px;
  padding-top: 11px;
  border-style: solid;
  border-color: rgb(182, 180, 180);
  background-color: rgb(248, 245, 245);
  padding-bottom: 8px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-width: 1px;
}

.star-repository-menu:hover, .fork-repo-menu:hover{
  cursor: pointer;
  background-color: rgb(231, 229, 229);
}

.p-number1 {
  display: inline-block;
  border-style: solid;
  border: none;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(201, 199, 199);
  margin-left: 5px;
  margin-right: 5px;
}

.hidden-title{
  margin-top: 20px;
  display: none;
}

.notifications-settings-button, .fork-repo-button, .star-repo-button{
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  border-color: rgb(216, 215, 215);
  border-style: solid;
  border-width: 1px;
}

.notifications-settings-button:hover, .fork-repo-button:hover, .star-repo-button:hover{
  cursor: pointer;
}
  

.notifications-settings-container, .fork-repo-container, .star-repo-container{
  position: relative;
  border-style: none;
  margin-right: 6px;
  display: inline-block;
  margin-bottom: 9px;
}

.notifications-settings-container .tooltip{
  position: absolute;
  background-color: rgb(31, 30, 30);
  color: white;
  width: 110px;
  font-size: 12px;
  font-family: arial;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}


.fork-repo-container .tooltip{
  position: absolute;
  position: absolute;
  background-color: rgb(43, 42, 42);
  color: white;
  width: 250px;
  font-size: 12px;
  font-family: arial;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

  .star-repo-container .tooltip{
  position: absolute;
  position: absolute;
  background-color: rgb(43, 42, 42);
  color: white;
  width: 105px;
  font-size: 12px;
  font-family: arial;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -40px;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}
.star-repo-container:hover .tooltip, .fork-repo-container:hover .tooltip, .notifications-settings-container:hover .tooltip {
  opacity: 1;
}


.hidden-title-icons{
  height: 20px;
}

.hidden-title-menu{
  display: flex;
  align-items: center;
}

.starred-repositories ,.repositories-status{
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: gray;
  width: fit-content;
}

.starred-repositories:hover, 
.repositories-status:hover, 
.forked-repositories:hover, 
.observed-repositories:hover, 
.branched-repositories:hover, 
.tagged-repositories:hover ,
.user-activity:hover,
.user-acts:hover
{
  color: blue;
  cursor: pointer;
}

.forked-repositories, .observed-repositories, .branched-repositories, .tagged-repositories{
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: gray;
}

.user-activity{
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: gray;
}

.user-acts{
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: arial;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 4px;
  color: gray;
  display: none;
}

.hidden-title-menu span{
  color: black; 
  margin-right: 5px;
}
  .hidden-title-menu span:hover{
  cursor: pointer;
  color: blue;
}

.hidden-title-menu img, .repositories-status img, .user-acts img{
  height: 16px;
  margin-right: 7px;
}


@media screen and (max-width: 845px) {
 .page-title{
  display: block;
 }
  .right-page-title{
   margin-left: 32%;
  }
 
  
}
@media screen and (max-width:768px) {
  .left-page-title{
 display: none;
  }
   .right-page-title{
display: none;
   }
  .hidden-title{
   display: initial;
   
  }
   
 }
 @media screen and (max-width: 570px){
.user-activity{
  display: none;
}
.user-acts{
  display: initial;
}
 }
